.container {
    border: solid;
}

.name {
    margin-left: 50px;
}

.bg-primary {    
    background-color: #5271FF;
}

/* Sidebar */

.sidebar  {
    max-width: 300px;
    
}

.top-sidebar {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 10%;
    background-color: #5271FF;
    padding-top: 20px;
}

.top-sidebar > img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.sidebar- {
    border: solid #5271FF 1px;
    background-color: #5271FF;
    height: 700px;
}

.sidebar h2 {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 100%;
    font-weight: 600;
}

.txt-sidebar2 {
    margin-bottom: 8%;
    color: white;
}

.sidebar p{
    margin-left: 3%;
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.txt-sidebar {
    color: white;
}

.icone {
    width: 13%;
    height: auto;
    margin-left: 3%;
}

.icone1 {
    margin-left: 20%;
    margin-right: auto;
}

.icone2 {
    margin-left: 8%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icone-hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket {
    width: 20%;
    height: 20%;
    margin-left: 5%;
}

.guitar{
    width: 20%;
    margin-left: 5%;
}

.camera{
    width: 30%;
    margin-left: 5%;
}

.icone4{
    color: white;
}

.age{
    margin-left: 10%;
    float: left;
    margin-right: 20%;
}

.car {
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.tel {
    justify-content: flex-start;
}

#icone-car {
    float: left;
    margin-right: 20%;
}

.place {
    margin-left: 10%;
}
#icone-place {
    float: left;
}
#txt-place1{
    display: flex;
    justify-content: center;
}

#txt-place2{
    display: flex;
    justify-content: center;
}

.mail {
    display: flex;
    justify-content: center;
}

#icone-mail {
    float: left;
    width: 15%;
}

/* Fin Sidebar */

.main {
   font-family: 'Open Sans', sans-serif;
}

/*Jean-Baptiste Ketele*/
.main h1{
    font-weight: 700;
}

/* Job */
.main h2 {
    font-weight: 600;
    font-size: 20px;
}

h3 {
    background-color: #D8D7D7;
}

.main p {
    font-weight: 300;
    margin-top: 0%;
    margin-left: 30px;
}


ul {
    font-weight: 300;
    font-size: smaller;
    margin-left: 10%;
}

.part {
    width: 200%;
    height: 30px;
    background-color: #D8D7D7;
}


#paille {
    width: 60px;
    margin-right: 20px;
}
.paille-liste1 {
    margin-right: 50px;
}

#agrial {
    width: 80px;
    margin-right: 20px;
}


#origen{
    width: 80px;
    margin-right: 20px;
}


#woof{
    width: 60px;
    margin-right: 20px;
}



#exp {
    border-color: red;
}

#la-manu {
    width: 20%;
    margin-right: 20px;
}

#mds {
    width: 20%;
    margin-right: 20px;
}
#scholar {
    width: 20%;
    margin-right: 20px;
}

.diplome {
 list-style: disclosure-closed;   
}

.title-list {
    list-style: none;
}